html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
    font-family: 'MyCustomFont'; 
    src: url('/assets/fonts/MyCustomFont.woff2') format('woff2'),
         url('/assets/fonts/MyCustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }